header{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 32px;
    padding-right: 32px;
    color: aliceblue;
    
    height: 108px;
  }


.logo img{
    padding-top: 12px;
    padding-left: 12px;
    width: 58.5px;
    height: 62px;
}

.nav{
  margin-left: 700px;
  font-size: 19px;
}

p{
  padding-bottom: 6px;
}

.numb{
  align-items: end;
  font-size: 19px;
  width: 150px;
}
